#section-title-holder {
    background-image: url("../images/_MG_9848-min.jpg");
    background-size:cover;
    height:300px;
    background-position:0px 0px;
    margin-top:0px;

}
#section-title {
    color:white;
    font-family:var(--THEME-FONT-TITLE);
    text-align:center;
    font-size:100px;
    
}

#packages-type-container {
    width:60%;
    height:60px;
    margin:auto;
}

#mobile-banner {
    display:none;
    font-family:var(--THEME-FONT-PARAGRAPH);
    font-size:15px;
    text-align:center;
}
/* These are the packages ( FAMILY | ENGAGEMENT | MILESTONE | SENIORS ) */
.package-container {
    width:24%;
    height:40px;
    border-right:1px solid black;
    padding-right:5px;
    padding-left:5px;
    box-sizing:border-box;
    float:left;
}
.packages {
    height:60px;
    border-radius:40px;
    position:relative;
    top:-10px;
    left:0px;
    margin-top:0px;
    width:100%;
    cursor:pointer;
    border:none;
    /* background-color:rgb(234, 226, 221); */
    transition:background-color 0.5s;
    background-color:transparent;
    font-family:var(--THEME-FONT-PARAGRAPH);
    font-size:15px;
    color:black;
}
.packages-SELECTED {
    background-color:rgba(234, 226, 221, 0.648);
}
.packages:hover {
    background-color:rgba(234, 226, 221, 0.648);
}


/* package detail cards */
#available-packages-container {
    width:80%;
    height:500px;
    margin:auto;
}
.packages-section {
    width:100%;
}
.available-package-card {
    width:calc((100% - 40px)/3);
    box-sizing:border-box;
    /* border:3px solid rgb(183, 183, 183); */
    border:none;
    background-color:rgb(240,240,240);
    border-radius:10px;
    height:500px;
    float:left;
    margin-right:20px;
    position:relative;
}


/* individual cards */
.package-name {
    font-family:var(--THEME-FONT-PARAGRAPH);
    font-size:30px;
    text-align:center;
}
.price {
    font-family:var(--THEME-FONT-PARAGRAPH);
    font-size:20px;
    text-align:center;
}
.package-image {
    width:100%;
    filter:saturate(80%);
}
.description {
    width:100%;
    box-sizing:border-box;
    padding:10px;
    text-align:center;
    font-family:var(--THEME-FONT-PARAGRAPH);
    font-size:15px;
}
.duration {
    text-align:center;
    font-family:var(--THEME-FONT-PARAGRAPH);
    font-weight:bolder;
    position:absolute;
    bottom:20px;
    width:100%;
}
.book-me {
    width:50%;
    margin-left:25%;
    height:30px;
    border-radius:15px;
    background-color:rgb(234, 226, 221);
    border:none;
    font-family:var(--THEME-FONT-PARAGRAPH);
    font-size:15px;
    font-weight:bolder;
    cursor:pointer;
    transition:background-color 0.5s, width 0.5s, margin 0.5s;
    position:absolute;
    bottom:-15px;
    color:black;
}
.book-me:hover {
    background-color:rgb(214, 199, 190);
    width:60%;
    margin-left:20%;
}
