@media (max-width:1000px) {
    .available-package-card {
        border-radius:0px;
        background-color:transparent;
        width:100%;
        border-top:1px solid black;
        height:fit-content;
        padding-bottom:20px;
    }
    #packages-type-container {
        width:100%;
        box-sizing:border-box;
        padding:10px;
        font-size:20px;
    }
    .package-container {
        width:50%;
        margin-left:25%;
        border-right:none;
        border-bottom:1px solid black;
    }
    #mobile-banner {
        display:block;
    }
    .packages {
        position:initial;
        height:39px;
        font-size:20px;
    }
    .duration {
        position:initial;
    }
    .book-me {
        position:initial;
    }
}