@media (max-width:1000px) {
    .info-holder {
        width:calc((100% - 20px));
        margin-left:10px;
        margin-bottom:50px;
    }
    .title-holder {
        width:80%;
        left:calc(10% - 10px);
    }
    .block {
        width:100%;
    }
    #section-title {
        line-height:1;
    }
    .name-text {
        width:60px;

    }
    .name {
        width: calc(100% - 60px);
    }
    #package-information-container {
        overflow-x:scroll;
    }
}