#section-title-holder {
    background-image: url("../images/_MG_9848-min.jpg");
    background-size:cover;
    height:300px;
    background-position:0px 0px;
    margin-top:0px;

}
#section-title {
    color:white;
    font-family:var(--THEME-FONT-TITLE);
    text-align:center;
    font-size:100px;
    
}



#portfolio {
    width:100%;
    padding:20px;
    box-sizing:border-box;
}
.column {
    width:calc((100%) / 3);
    box-sizing:border-box;
    padding:5px;
    float:left;
    height:fit-content;
}
.flag {
    background-color:rgba(255,0,0,0);
    width:100%;
    height:50px;
}
.portfolio-image {
    width:100%;
    border-radius:10px;
    /*border:1px solid black;*/
    height:auto;
    margin-top:5px;
    transition:opacity 0.5s;
}


@media (max-width:700px) {
    .column {
        width:calc(100%);
    }
}