#section-title-holder {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%), url("../images/rose.jpg");
    background-size:cover;
    height:300px;
    background-position:0px 0px;
    margin-top:0px;

}
@media (max-width:1000px) {
    #section-title-holder {
        background-image:linear-gradient(to bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%), url("../images/rose-larger.jpg");
    }
}
#section-title {
    color:white;
    font-family:var(--THEME-FONT-TITLE);
    text-align:center;
    font-size:100px;
    
}