.block {
    width:100%;
    background-color:var(--THEME-COLOR-CREAM);
    float:left;
    margin-top:30px;
    margin-bottom:30px;
}
#document-title {
    font-size:100px;
    font-family:var(--THEME-FONT-WIDE);
    width:100%;
    text-align:center;
    margin-top:20px;
}
#microSubSlideshow {
    font-family:var(--THEME-FONT-PARAGRAPH);
    font-size:15px;
    text-align:center;
    margin-top:20px;
    margin-bottom:20px;
}
.microtext {
    font-family:var(--THEME-FONT-PARAGRAPH);
    font-size:15px;
    text-align:center;
    margin-top:20px;
    margin-bottom:20px;

}
#largeText {
    font-family:'Morgana';
    font-weight:50;
    font-size:60px;
    text-align:center;
    width:100%;
    margin-top:0px;
}
.right-side {
    width:50%;
    float:left;
}
.left-side {
    width:50%;
    float:right;
}
.tactical-image {
    width:calc(100% - 200px);
    margin-left:100px;
    margin-top:20px;
}
.text-holder {
    width:80%;
    margin-left:10%;
}
.title2 {
    font-family:var(--THEME-FONT-TITLE);
    font-weight:50;
    width:100%;
    text-align:center;
    font-size:60px;
    color:var(--THEME-COLOR-DARK-ONE);
}
.subText2 {
    font-family:var(--THEME-FONT-PARAGRAPH);
    width:100%;
    text-align:justify;
    font-size:20px;
    color:var(--THEME-COLOR-DARK-TWO);
}
#footer {
    margin-bottom:0px;
    background-color:rgb(234, 226, 221);/*213 188 168     223 245 213      217 208 203*/
}
.micro-footer {
    width:100%;
    background-color:rgb(222, 204, 194);
    height:50px;
    float:left;
}
.footer-section {
    width:calc((100% - 4 * var(--FOOTER-SPACE-WIDTH))/3);
    height:360px;
    margin-left:var(--FOOTER-SPACE-WIDTH);
    float:left;
    background-color:rgb(234, 226, 221);
    /*border-right:1px solid red;
    border-left:1px solid red;*/
}
#bottommost {
    background-color:black;
}
.media-icon {
    height:40px;
    width:auto;
    margin-top:5px;
    margin-left:5px;
    cursor:pointer;
}
.media-icon:hover {
    filter:invert(100);
}





#social-media {
    margin-left:calc((100% - 45px - 45px - 40px)/2);
    width:fit-content;
    height:fit-content;
    margin-top:80px;
}
#mobile-social-media {
    margin-left:calc((100% - 45px - 45px - 40px)/2);
    width:fit-content;
    height:fit-content;
    margin-top:20px;
    display:none;
}





#footer-text {
    color:rgb(135, 135, 135);
    font-family:var(--THEME-FONT-PARAGRAPH);
    text-align:center;
    font-weight:bolder;
    margin-top:10px;
}
#footer-logo {
    height:200px;
    width:auto;
    margin-top:40px;
    display:inline-block;
}
#about-me-text {
    color:black;
    font-family:var(--THEME-FONT-PARAGRAPH);
}
#contact-maria {
    margin-top:50px;
    width:100%;
    height:fit-content;
}
.input_text {
    width:70%;
    height:40px;
    margin-top:10px;
    margin-left:calc(30% / 2);
    background-color:white;
    border:1px solid black;
    border-radius:5px;
    font-family:var(--THEME-FONT-PARAGRAPH);
    color:black;
    text-align:center;
    outline:none;
}
.input_text:focus {
    background-color:rgb(200,200,200);
}
#submit-contact {
    width:100px;
    margin-left:calc((100% - 102px) / 2);
    margin-top:10px;
    height:40px;
    font-family:var(--THEME-FONT-PARAGRAPH);
    background-color:rgb(210, 210, 210);
    border:1px solid black;
    border-radius:5px;
}
#contact-me {
    margin-top:20px;
    color:black;
    font-family:var(--THEME-FONT-PARAGRAPH);
    box-sizing:border-box;
    padding:10px;
}
#TEMP_COLOR_PICKER {
    width:150px;
    height:100px;
    position:fixed;
    bottom:20px;
    right:20px;
    border:3px solid black;
    border-radius:5px;
}


.fade {
    transition:opacity 1s, left 1s, right 1s, bottom 1s;
    position:relative;
}