#topNav {/*the whole bar at the top*/
    width:100%;
    height:70px;
    background-color:var(--THEME-COLOR-CREAM);
    /*box-shadow:0px 0px 10px rgb(118, 118, 118);*/
    margin-top:0px;
    overflow:visible;
    position:fixed;
    top:0px;
    left:0px;
    z-index:2;
}
#mobileBtn {
    display:none;
}
#main-logo {
    height:130px;
    width:130px;
    float:left;
    margin-top:5px;
    margin-left:calc((100% - var(--TACTICAL-NAVBAR-WIDTH) - 180px)/2);
    margin-right:calc((100% - var(--TACTICAL-NAVBAR-WIDTH) - 180px)/2);
}
#main-title {
    width:calc(100% - var(--TACTICAL-NAVBAR-WIDTH) - 51px);
    text-align:center;
    font-family:'Morgana';/*Dancing Script, Allura, Parisienne,*/
    font-weight:50;
    font-size:50px;
    float:left;
    margin:0px;
    cursor:pointer;
}
.navBtn {/*the holder for each button, each <li> item*/
    float:left;
    list-style-type:none;
    height:70px;
    width:var(--TACTICAL-NAVBUTTON-WIDTH);
    border:none;
}
.mobile-text {
    display:none;
}
.btn {/*each button itself, the <button>s*/
    background-color:var(--THEME-COLOR-CREAM);
    width:100%;
    height:30px;
    color:var(--THEME-COLOR-C);
    border-left:none;
    border-right:none;
    border-top:none;
    border-bottom:none;
    margin:0px;
    margin-top:20px;
    font-family:sans-serif;
    float:left;
    cursor:pointer;
    text-align:center;
    font-family:var(--THEME-FONT-PARAGRAPH);
    font-weight:100;
}
.btn:hover {
    color:var(--THEME-COLOR-A-DARKENED);
}/*
#lastNavBtn {
    /*border-right:1px solid black;
}*/

/* HYPOTHETICAL TEST HYPOTHETICAL TEST HYPOTHETICAL TEST HYPOTHETICAL TEST */
#login {/*AN EXAMPLE LOGIN BUTTON*/
    background-color:var(--THEME-COLOR-A-DARKENED);
    border:1px solid black;
    border-radius:15px;
    width:calc(100% - 10px);
    margin-right:10px;
    float:right;/*V.1: this previously didn't exist*/
}
#loginNav {
    float:right;
}
/* END HYPOTHETICAL TEST END HYPOTHETICAL TEST END HYPOTHETICAL TEST END */

#theNavs {
    width:100%;
    /*height:59px;*/
}
#navBtns {/*container for all the buttons. <ul> element.*/
    width:100%;
    margin:0px;
    float:left;
    padding:0px;
}
#navBar {/*the navigation bar container, <div>. Give it 50% width. Float this and most everything in it to the left.*/
    float:right;
    width:var(--TACTICAL-NAVBAR-WIDTH);
    margin-right:50px;/*V.1: this previously didn't exist*/
}