#slideshow {
    position:relative;
    top:0px;
    left:0px;
    background-color:var(--THEME-COLOR-CREAM);
    height:var(--TACTICAL-SLIDESHOW-HEIGHT);
    width:200%;
    z-index:1;
    overflow:hidden;
    margin-top:0px;
}
.slideshow-item {
    display:block;
    height:var(--TACTICAL-SLIDESHOW-HEIGHT);
    float:left;
    margin-right:10px;
}